#root {
  margin: 0 auto;
  max-width: 400px; 
  width: 100%; 
  min-height: 100vh; 
  background-color: #F3F3F3;
  font-family: 'Inter', sans-serif;
}

.blue {
  color: #5FA9FF;
}

.person-circle {
  font-size: 3rem;
}

#root span {
  font-size: .75rem;
}
button{
  border: none;
}
.container-funtions {
  border-radius: 15px;
  background-color: #FFFFFF;
  padding: 1rem;
  width: 100%;
  height: 100%; 
  display: flex;
  align-items: center;
  transition: transform 0.4s ease;
}

.container-funtions h2 {
  color: #5FA9FF;
}

.read-the-docs {
  color: #888;
}
.hover:hover{
  background-color: #5FA9FF;
  transform: translateY(-10px);
}

.hover:hover svg, .hover:hover span{
  color: #FFFFFF;
}

input[type="checkbox"] {
  background-color: #5FA9FF;
}
 input[type="text"] {
  all: unset;
  color: #5FA9FF;
  font-size: 2rem;
}